body{
	text-align: center;
	background: #00ECB9;
}

#birthday_head{
  color: #396;
	font-family: sans-serif;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#birthday_clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#birthday_clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#birthday_clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
