body{
	text-align: center;
	background: #00ECB9;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to
the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#China{
	display:none;
}

#china_head{
  color: #396;
/*
	font-family: 'Condiment', cursive;
*/
	font-family: 'Faster One', cursive;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#china_clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#china_clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#china_clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

#Transformus{
	display:none;
}

#transformus_head{
  color: #396;
	/* font-family: 'Ewert', cursive; */
	/* font-family: 'Fontdiner Swanky', cursive; */
	/* font-family: 'Monofett', cursive; */
	font-family: 'Press Start 2P', cursive;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#transformus_clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#transformus_clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#transformus_clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

#Otakon{
	display:none;
}

#otakon_head{
  color: #396;
	font-family: 'Bungee Shade', cursive;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#otakon_clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#otakon_clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#otakon_clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

#Bellweather{
	display:none;
}

#bellweather_head{
  color: #396;
	font-family: 'Annie Use Your Telescope', cursive;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#bellweather_clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#bellweather_clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#bellweather_clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

#BMSR{
	display:none;
}

#bmsr_head{
  color: #396;
	/* font-family: 'Creepster', cursive;
	font-family: 'Butcherman', cursive; */
	font-family: 'Nosifer', cursive;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#bmsr_clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#bmsr_clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#bmsr_clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

#Honey_Anniversary{
	display:none;
}

#anniversary_head{
  color: #396;
	/* font-family: 'Euphoria Script', cursive; */
	font-family: 'Parisienne', cursive;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#anniversary_clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#anniversary_clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#anniversary_clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
